{% extends "home/base.html" %} 
{% block title %} Watcher | Watch {% endblock title %} 
{% block content %}
<div class="w3-container w3-bar">
  <h2 class="w3-bar-item">Marvel Characters</h2>
  <a href="{% url 'watcher:hero_create' %}" class="w3-btn w3-large w3-round  w3-yellow w3-bar-item w3-margin w3-right"><b>+</b> Add Character</a>

</div>
<div class="w3-row-padding w3-container">
  {% for hero in characters %}
    <div class="w3-col s6 l4 w3-section">
      <div class="w3-display-container w3-black w3-hover-border-yellow" style="border:solid 5px white">
        <img class="w3-image w3-padding" src="{{hero.image.url}}">
        <div class="w3-black w3-opacity w3-display-bottommiddle" style="width:100%; height:30%;">
        </div>
        <div class="w3-display-bottommiddle w3-padding" style="width:100%;">
          <h3 class=""><b>{{hero.name}}</b></h3>
          <div class="w3-row w3-margin" style="width:100%">
            <a href="{% url 'watcher:hero_detail' hero.id %}" class="w3-btn w3-round w3-red w3-small  w3-hover-blue-grey w3-col s4">Detail</a>
            <a href="{% url 'watcher:hero_update' hero.id %}" class="w3-btn w3-round w3-blue w3-small w3-hover-blue-grey w3-col s4 w3-margin-left">Edit</a>
          </div>
          </div>    
      </div>
    </div>
  {% endfor %}
</div>


{% endblock content %}
